html
  head
    title Tucker Cowie | Digital Product Design Leader
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/styles.css")
    link(rel="stylesheet", href="https://use.typekit.net/rbp1wfw.css")
    script(src="https://kit.fontawesome.com/851e22d853.js", crossorigin="anonymous")
  body
    article
      header
        //- img(src="https://media-exp1.licdn.com/dms/image/C5635AQE5nto1kL7Z4Q/profile-framedphoto-shrink_400_400/0/1617138876550?e=1618095600&v=beta&t=X_FGKzW20fgBw3XEEQ2rPj3HiVLUpgYCd6xFFUmIy4I")
        h1 Tucker Cowie
        h2 Digital Product Design Leader
        details.banner
         summary.banner__header
           strong Desktop Viewing Highly Recommended
           i.fas.fa-exclamation-triangle
         p.banner__body
           small This portfolio uses <a href="https://miro.com" target="_blank">Miro</a>, an online whiteboarding tool. Presentation mode is not curently implemented for mobile devices but it is still possible to view on mobile devices (but not without friction). Additionally, the desktop form factor is more fit for viewing many of the artifacts included within.
        a.button.button--primary(href="https://miro.com/app/board/o9J_lLhlDmc=/", target="_blank")
          | Launch Portfolio&nbsp;&nbsp;
          i.fas.fa-external-link-alt
        .social
          a(href="https://www.linkedin.com/in/tuckercowie/", target="_blank")
            i.fab.fa-linkedin
            | LinkedIn
          a(href="https://instagram.com/tuckercowie", target="_blank")
            i.fab.fa-instagram
            | Instagram
          a(href="https://github.com/TuckerCowie", target="_blank")
            i.fab.fa-github
            | Github
          br
          a(href="mailto:tuckercowie@gmail.com")
            | tuckercowie@gmail.com
      footer
        small &copy Tucker Cowie 2021